*.bmp
*.dat
*.ex4
*.swp
MQL4/Files/*
MQL4/Imagse/*
MQL4/Include/*
MQL4/Include/Arrays/*
MQL4/Include/Canvas/*
MQL4/Include/Charts/*
MQL4/Include/ChartObjects/*
MQL4/Include/Controls/*
MQL4/Include/Controls/res/*
MQL4/Include/Files/*
MQL4/Include/Indicators/*
MQL4/Include/Strings/*
MQL4/Include/Tools/*
MQL4/Indicators/*.ex4
MQL4/Experts/*.ex4
MQL4/Libraries/*
MQL4/Presets/*
MQL4/Projects/*
MQL4/Scripts/*
MQL4/Logs/*
config/*
history/*
logs/*
profiles/*
templates/*
tester/*
origin.txt
